<footer class="footer-basic">
    <div class="footer-content">
        <div class="social">
            <a href="#"><i class="icon ion-social-instagram"></i></a>
            <a href="#"><i class="icon ion-social-snapchat"></i></a>
            <a href="#"><i class="icon ion-social-twitter"></i></a>
            <a href="#"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul>
            <li><a href="#">Về Chúng Tôi</a></li>
            <li><a href="#">Điều khoản</a></li>
            <li><a href="#">Quyền riêng tư</a></li>
        </ul>
    </div>
    <p class="copyright">GoldenStadium © 2024</p>
</footer>