<div class="container">
    <div class="content">
        <div class="info">
            <h2>Like Nature<br><span>Be Creative!</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar tellus quis erat molestie ullamcorper. Donec vitae metus posuere nisi hendrerit pharetra. Duis ultricies felis eu justo consequat, eu semper nisl cursus. Sed</p>
        </div>
    </div>
    <div class="review-container">
        <div class="container__left">
            <h1>Đọc những gì khách hàng yêu thích ở chúng tôi </h1>
            <p>
                Khách hàng rất hài lòng với chất lượng sản phẩm và dịch vụ của chúng tôi. Họ thường nhấn mạnh sự chú ý đến từng chi tiết và chất lượng vượt trội mà chúng tôi mang lại
            </p>
        </div>
        <div class="container__right">
            <div></div>
        </div>
    </div>
</div>