<div class="container">
    <section class="intro">
        <div class="intro-content">
            <h2>Chào Mừng Đến Với Golden Stadium</h2>
            <p>Kết nối đam mê, trải nghiệm thể thao đỉnh cao.</p>
        </div>
    </section>
    <section class="services">
        <h1>Dịch vụ của chúng tôi</h1>
        <div class="row">
            <div class="service">
                <i class="fa-solid fa-futbol"></i>
                <h2>Đặt Sân Nhanh Chóng</h2>
                <p>Đặt sân chỉ với vài bước đơn giản. Tìm kiếm sân bóng phù hợp với thời gian và địa điểm mong muốn,
                    cùng các tùy chọn khác để đảm bảo bạn có trải nghiệm tuyệt vời</p>
            </div>
            <div class="service">
                <i class="fa-solid fa-credit-card"></i>
                <h2>Hỗ Trợ Khách Hàng Tận Tâm</h2>
                <p>Chúng tôi cung cấp nhiều phương thức thanh toán linh hoạt, từ trực tuyến đến thanh toán tại quầy,
                    giúp bạn yên tâm và thuận tiện trong mọi giao dịch.</p>
            </div>
            <div class="service">
                <i class="fa-solid fa-headset"></i>
                <h2>Đặt Sân Nhanh Chóng</h2>
                <p>Đội ngũ hỗ trợ chuyên nghiệp luôn sẵn sàng lắng nghe và giải quyết mọi yêu cầu của bạn để đảm bảo
                    trải nghiệm tốt nhất.</p>
            </div>
            <div class="service">
                <i class="fa-solid fa-building"></i>
                <h2>Cơ Sở Vật Chất Hiện Đại</h2>
                <p>Sân bóng đạt chuẩn, luôn được bảo trì tốt với hệ thống ánh sáng và cỏ nhân tạo chất lượng cao, mang
                    đến môi trường thể thao thoải mái và an toàn.</p>
            </div>
        </div>
    </section>
    <section class="photo-gallery">
        <h2>Kho Ảnh</h2>
        <p>Khám phá những khoảnh khắc tuyệt vời tại sân vận động Golden, nơi lưu giữ những kỷ niệm đẹp của bạn. Cùng chúng tôi nhìn lại các sự kiện nổi bật và phong cảnh tuyệt đẹp qua bộ sưu tập ảnh dưới đây.</p>
        <div class="photo-gallery-grid">
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img1.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img2.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img3.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img4.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img5.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img6.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img7.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img8.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';"  />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img9.jpg" alt="Lỗi Ảnh"  onload="this.previousElementSibling.style.display='none';" />
            </div>
            <div class="gallery-item">
                <div class="loader"></div>
                <img src="/images/gallery/img10.jpg" alt="Lỗi Ảnh" onload="this.previousElementSibling.style.display='none';"  />
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="inner">
            <h1>Những gì khách hàng yêu thích ở chúng tôi</h1>
            <div class="border">
            </div>
            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <img src="/images/profile1.jpg" alt="" srcset="">
                        <div class="name">Nguyễn Xuân Sinh</div>
                        <p class="content">Dịch vụ tuyệt vời và rất chuyên nghiệp.</p>
                        <p class="subContent">Đội ngũ nhân viên rất chuyên nghiệp và luôn lắng nghe ý kiến khách hàng.
                            Mỗi khi tôi có vấn đề, họ đều hỗ trợ nhanh chóng và hiệu quả.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="/images/profile2.jpg" alt="" srcset="">
                        <div class="name">Nguyễn Ngọc Hoàn</div>
                        <p class="content">Tôi rất hài lòng với chất lượng dịch vụ</p>
                        <p class="subContent">Không gian tuyệt vời và chất lượng sản phẩm đáng giá. Tôi thực sự ấn tượng
                            với sự tận tâm của đội ngũ và dịch vụ chăm sóc khách hàng.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="/images/profile3.png" alt="" srcset="">
                        <div class="name">Nguyễn Trọng Thiên</div>
                        <p class="content"> Sân bóng rất đẹp và chất lượng</p>
                        <p class="subContent">Sân bóng được chăm sóc rất tốt. Cỏ được cắt tỉa gọn gàng, không có đá hay
                            vật cản, giúp đảm bảo an toàn cho người chơi.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>