<main class="container text-center my-5 d-flex flex-column align-items-center justify-content-center min-vh-100">
    <img src="images/logo_white.png" alt="Logo" class="logo my-4">
    <h1 class="display-4 text-success welcome-text">Xin Chào Mừng Tới Golden Stadium</h1>
    <p class="lead mt-3 mb-4 text-description">
        GoldenStadium là nền tảng giúp bạn dễ dàng tìm và đặt sân bóng trực tuyến. Với giao diện thân thiện, chỉ vài
        bước đơn giản là bạn đã có sân để trải nghiệm niềm vui đá bóng cùng bạn bè. GoldenStadium – nhanh chóng, tiện lợi,
        phù hợp cho mọi nhu cầu của bạn.
    </p>
    <a href="/auth" class="btn btn-primary btn-lg mt-2">Bắt đầu ngay</a>
</main>
