@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --base-clr: #1b1b2f;
    --line-clr: #2d2d44;
    --hover-clr: #323253;
    --text-clr: #eaeaea;
    --accent-clr: #e94560;
    --secondary-text-clr: #8c8c8c;
}

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f1f1f1;
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
    transition: all 0.3s ease;
}

main {
    flex: 1;
    padding: 10px 18px;
    overflow-y: auto;
}

.container {
    border-radius: 1em;
    padding-bottom: 40px;
    padding: 1em;
    background-color: var(--hover-clr);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

h2 {
    margin-top: 0.5em;
    color: var(--accent-clr); 
}

/* Sidebar Styling */
#sidebar {
    width: 250px;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    padding: 1em;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    position: sticky;
    top: 0;
}

#sidebar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

#sidebar ul li {
    margin-bottom: 1em;
}

#sidebar .header .logo {
    display: inline-flex;
    align-items: center;
}

#sidebar .header img.logo {
    width: 50px;
    height: auto;
    transition: opacity 0.3s ease;
}

#sidebar a {
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    padding: 0.7em;
    border-radius: 0.5em;
    transition: background-color 0.2s;
}

#sidebar a:hover {
    background-color: var(--hover-clr);
}

#sidebar a i {
    font-size: 1.25em;
    margin-right: 0.5em;
}

#sidebar ul li.active a {
    color: var(--accent-clr);
    font-weight: 500;
    background-color: var(--hover-clr);
}

#toggle-btn {
    background: none;
    border: none;
    color: var(--text-clr);
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Collapsed Sidebar */
#sidebar.close {
    width: 76px;
}

#sidebar.close .header .logo {
    display: none;
}

#sidebar.close a span {
    display: none;
}

#sidebar.close #toggle-btn {
    justify-content: center;
}

/* Account Section at Bottom */
#account-section {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--line-clr);
    margin-top: auto;
    padding-top: 1em;
    justify-content: center;
    gap: 0.5em;
}

#account-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 2em;
}

#account-section .account-name {
    font-size: 1em;
    color: var(--text-clr);
    font-weight: 500;
}

#account-section .logout-icon {
    margin-left: auto;
    color: var(--secondary-text-clr);
}

#sidebar.close #account-section img {
    margin-right: 0em;
}


#sidebar.close #account-section .account-name,
#sidebar.close #account-section .logout-icon {
    display: none;
}

/* Table Styles */
.table {
    grid-column: 2 / 3;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    background-color: var(--base-clr);
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
    color: var(--text-clr);
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: var(--accent-clr);
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(odd) {
    background: #e0e6ed;
}

.fl-table tr:nth-child(even) {
    background: #d3d9e3; 
}

.fl-table td, .fl-table th {
    color: #1a1a1a;
}


/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

    .fl-table thead th:last-child {
        border-bottom: none;
    }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

/*Form Button*/
.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.icon-btn i {
    font-size: 1.2rem;
    color: var(--accent-clr);
}

.icon-btn i:hover {
    color: #0056b3;
}


/*Form Styling*/
.post {
    position: relative;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    background: #2d2d44;
    border-radius: 8px;
    color: var(--text-clr);
    .post {
        grid-column: 1 / 2;
    }
}

.post h3 {
    font-size: 1.5rem;
    color: var(--accent-clr);
    font-weight: 800;
    text-align: center;
}

.post .form {
    margin-top: 30px;
}

.post input-box {
    width: 100%;
    margin-top: 25px;
}

.post label {
    color: #333;
}

.post .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    font: 1rem;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.post .submit-btn {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-clr);
    background: var(--hover-clr);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post .submit-btn:hover {
    background-color: var(--accent-clr);
}



/*Check-box Styling*/
.post .status-box .status-option {
    display: flex;
}

.post .status-box label{
    color: var(--text-clr);
}

.post .status-box :where(.status-option, .status) {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.post .status-box {
    column-gap: 5px;
    cursor: pointer;
    position: relative;
}

.post .status-box {
    margin-bottom: 8px;
}

.post .status {
    column-gap: 5px;
    cursor: pointer;
}

.post :where(.status input, .status label) {
    cursor: pointer;
}

/* Modal styling */
::backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
}

dialog {
    box-sizing: border-box;
    width: calc(100% - 1em);
    max-width: 400px;
    align-self: center;
    place-self: center;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    background: var(--base-clr);
    text-align: center;
    padding: 0.8em 1.5em 1em;
}

dialog h2 {
    color: var(--accent-clr);
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    font-size: 15px;
}

dialog .controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-bottom: 0.5em;
}

dialog .controls button {
    padding: 0.75;
    cursor: pointer;

    border-radius: 5px;
    background: var(--accent-clr);
    color: #ffffff;
    font-size: 0.9em;
}

dialog .controls button .close-btn {
    background: transparent;
    color: var(accent-clr);
}

/*Pagination Styling*/
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination-btn {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: var(--accent-clr);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagination-btn.active {
    background-color: darkblue;
    font-weight: bold;
}

.pagination-btn:hover {
    background-color: #3a577a;
}
