<nav id="sidebar" class="close">
    <div class="header">
        <img class="logo" src="/images/logo_black.png" alt="" srcset="">
        <button id="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
    <ul>
        <li class="active"><a href="#"><i class="fas fa-house"></i><span>Quản Lý 1</span></a></li>
        <li><a href="#"><i class="fas fa-house"></i><span>Quản Lý 2</span></a></li>
        <li><a href="#"><i class="fas fa-house"></i><span>Quản Lý 3</span></a></li>
        <li><a href="#"><i class="fas fa-house"></i><span>Quản Lý 4</span></a></li>
        <li><a href="#"><i class="fas fa-house"></i><span>Quản Lý 5</span></a></li>
    </ul>
    <div id="account-section">
        <img src="/images/account.png" alt="Account Picture">
        <span class="account-name">User Name</span>
        <i class="fas fa-sign-out-alt logout-icon"></i>
    </div>
</nav>
<main>
    <div class="container">
        <h2>Hello World</h2>
    </div>
</main>