<table id="parameter-table">
    <tr>
      <th>Chức Năng</th>
      <th>Mã Code</th>
      <th>Loại</th>
      <th>Giá Trị</th>
      <th>Ghi Chú</th>
      <th>Trạng Thái</th>
      <th>Thao Tác</th>
    </tr>
  </table>
  <script type="text/javascript">

  </script>